[project]
	description = Training Project 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jithinkumar
[access "refs/for/refs/*"]
	read = group user/jithinkumar
	push = group user/jithinkumar
	label-Code-Review = -2..+2 group user/jithinkumar
	label-Verified = -1..+1 group user/jithinkumar
	rebase = group user/jithinkumar
	removeReviewer = group user/jithinkumar
	submit = group user/jithinkumar
[access "refs/heads/*"]
	read = group user/jithinkumar
	create = group user/jithinkumar
	push = +force group user/jithinkumar
	pushMerge = group user/jithinkumar
[access "refs/tags/*"]
	push = +force group user/jithinkumar
	pushTag = group user/jithinkumar
	pushSignedTag = group user/jithinkumar
